* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(./images/beach.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #28e5fa;
  transition: 0.4s;
}

.content {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%);
}

h1 {
  color: black;
  font-size: 75px;
}

h3 {
  color: black;
  font-size: 25px;
}
h4 {
  letter-spacing: 2px;
  font-size: 20px;
}
form {
  width: 380px;
  padding: 40px;
  margin-right: 335px;
  float: right;
}

.about {
  width: 50%;
  padding: 100px 0px;
  display: block;
  float: left;
}

.about-text {
  width: 450px;
}
.main {
  display: center;
  align-items: center;
  justify-content: space-around;
}
.about-text h3 {
  color: rgb(150, 17, 17);
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 25px;

}
.about-text p {
  color: #000;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-text img {
  height: 15%;
  width: 60%;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  margin-top: 60px;
  margin-left: 30px;
}

.about-text{
  margin-left: 30px;
  box-shadow: 10px 10px 30px 5px ;
  border-radius: 30px;
  padding-left: 20px;
  padding-bottom: 2px;
}
* {
  box-sizing: border-box;
}


h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
.resume{
  width: 50%;
  padding: 97px;
  display: block;
  float: right;

}
.btn {
  background-color:  rgb(150, 17, 17);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.social-menu {
  display: flex;
  flex-direction: column;
  bottom: 45%;
  right: 5%;
  position: fixed;
  transform: translateY(45%);
}

.social-menu a {
  display: block;
  text-align: center;
  font-size: 35px;
  border-radius: 25%;
  margin-top: 20px;
  padding: 20px;
  transition: all 0.5s ease;
}

.social-menu a:hover {   
  color: #000;   
  width:10px;   
}   
